<div class="alert alert-info" role="alert">
    <h4 class="alert-heading Oleo"><i class="fa-sharp fa-solid fa-circle-info"></i> Danger</h4>
    <hr>
    <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus accusantium a voluptate odit reprehenderit nisi nobis laboriosam maxime corrupti impedit corporis repudiandae dolor ducimus debitis repellendus molestias, in pariatur beatae sit omnis illum nesciunt, deserunt et quidem? Perferendis facilis distinctio nam. Aliquam quibusdam nostrum officia, ratione voluptatum animi error sint.</p>
  </div>